In [ ]:
import numpy as np
import pandas as pd

:

### 2  main datatypes

pandas has two main datatypes, Series and DataFrame.

Series => a 1-dimensional column of data.
DataFrame (most common in ML) => a 2-dimesional table of data with rows and columns.

In [46]:
# series -> takes a list as input
cars_list = ["BMW","Toyota","Honda"]
series = pd.Series(cars_list)

In [47]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [48]:
colors = pd.Series(["red","blue","while"])
colors

0      red
1     blue
2    while
dtype: object

In [49]:
# dataframe --> takes dictionary as input
# can create dataframe out of a series
car_dict = {
    "Car make":series,
    "Colour":colors
}
car_data_df = pd.DataFrame(car_dict)
car_data_df

  Car make Colour
0      BMW    red
1   Toyota   blue
2    Honda  while

In [50]:
# Another common practice you'll see is data being imported to DataFrame called df (short for DataFrame).
# df/car_sales --> naming can be anything

### Locate Row
loc attribute to return one or more specified row(s)

In [51]:
#refer to the row index
car_data_df.loc[0]

Car make    BMW
Colour      red
Name: 0, dtype: object

In [52]:
# Return row 0 and 1
# When using [], the result is a Pandas DataFrame
car_data_df.loc[[0,1]] # list

  Car make Colour
0      BMW    red
1   Toyota   blue

In [53]:
# the DataFrame is like a table with rows and columns.
# the keys of the dictionary became the column headings (text in bold) 
# and the values of the two Series's became the values in the DataFrame.
#  many different types of data could go into the DataFrame - such as integer,float,etc

# we dont actually create dataframe from series
# what we usually do is we import data

### Import Data

where to get data?
we will have structured data in a spread sheet (excel) or a database (sql)
for pandas --> spreadsheet(.csv files -- comma seperated values)

In [54]:
# A simple way to store big data sets is to use CSV files

In [55]:
# using pd.read_csv() - Load the CSV into a DataFrame
# use tab for autocomplete

# takes a filename or url as string as input
car_sales = pd.read_csv("car-sales.csv")
# .csv file contains complete data (we will see incomplete later)

In [56]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [57]:
# left side - index column, starts at 0
# row - axis = 0
# cols - axis = 1
# headings in bold - column names
# these are a panda dataframe

### Exporting a dataframe

In [60]:
# .to_csv() --> to .csv file
car_sales.to_csv("exported-car-sales.csv",index=False)
# index=False --> without it, it will be exported as unnamed column

In [61]:
export_car_sales = pd.read_csv("exported-car-sales.csv")
export_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [62]:
# Big data sets are often stored, or extracted as JSON.